<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.factmint.com/moka/eclipse/xtext/MokaDSL" 
       class = "com.factmint.moka.eclipse.xtext.mokaDSL.MokaDSLPackage"
       genModel = "model/generated/MokaDSL.genmodel" /> 
	
  </extension>



</plugin>
